
    .my-brand{
        font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: small;
        color: white;

    }
    .my-table{
        padding-left: 50px;
        padding-right: 50px;
    }
    body{
        background-color: lightgray;
    }
@media screen and (max-width: 480px) {
    .wbdv-last-modified {
        width: 20%;
        display: none;

    }

    .wbdv-course-manager {
        display: none;
    }

    .wbdv-owner {
       display: none;
        width: 20%;
    }
    .wbdv-empty{
        display: none;
    }

    .my-head {
        display: none;
    }

    
}

    .day-row{
        padding-top: 100px;
    }
    .fab-container{
        position:fixed;
        bottom: 50px;
        right: 50px;
        z-index: 999;
        cursor: pointer;
    }

    .my-row{
        background-color: white;
        cursor: pointer;
    }

    .wbdv-title{
        width: 40%;
    }
    .wbdv-delete{
        width: 5%;
    }

    .wbdv-grid-layout{
        width: 10%;
    }
    .wbdv-sort{
        width: 10%;
    }
